@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply appearance-none outline-none;
}
*:focus {
  @apply appearance-none outline-none;
}

h1 {
  @apply text-4xl font-extrabold;
}

h2 {
  @apply text-3xl font-semibold;
}

h3 {
  @apply text-2xl font-semibold;
}

h4 {
  @apply text-xl font-semibold;
}

input {
  @apply p-2 bg-secondary rounded-lg;
}

button {
  @apply p-2 bg-primary text-white rounded-lg;
}

select {
  @apply p-2 bg-secondary rounded-lg;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1a48c6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1a48c6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(9px);
  -ms-transform: translateX(9px);
  transform: translateX(9px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (min-width: 768px) {
  table {
    display: table !important;
  }
}
